*{
  
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* body{
    background: #e3edf7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */
tr {
    padding-bottom: 10px;
}
table{
    border-spacing: 10px;
    /* padding: 15px; */
    padding: 15px 3px 15px 0;
}
th.cpu{
    text-align: left;
    margin-left: 30px;
    margin-bottom: 30px;
}

.tr_0 th.cpu.solid-line{
    border-left: 2px solid rgb(95, 141, 78);
}
.tr_2 th.cpu.solid-line{
    border-left: 2px solid rgb(206, 119, 119);
}
.tr_4 th.cpu.solid-line{
    border-left: 2px solid rgb(115, 169, 173);
}
.tr_6 th.cpu.solid-line{
    border-left: 2px solid rgb(186, 148, 209);
}
.tr_1 th.cpu{
    border-left: 2px dashed rgb(184, 118, 79);
}
.tr_3 th.cpu{
    border-left: 2px dashed rgb(79, 184, 175);
}
.tr_5 th.cpu{
    border-left: 2px dashed rgb(184, 79, 170);
}
.tr_7 th.cpu{
    border-left: 2px dashed rgb(118, 184, 79);
}

th.none_border{
    border-left: 0px;
    font-size: 15px;
    font-weight: normal;
    color: rgba(28, 28, 28, 0.5);
    transform: rotate(-90deg);
}

th.cpu.solid-line{
    text-align: left;
    margin-left: 30px;
}

h2{
    font-weight: normal;    
    font-size: 16px;
    padding: 5px;
    margin: 0 10px 0;
}
h4{
    font-size: 16px;
    font-weight: normal; 
    color: rgba(28, 28, 28, 0.5);
    margin: 0 10px 0;
}
.container{
    display: flex;
    flex-direction:  column-reverse;
    background-color: rgb(255, 255, 255);
  }
  .container .container1{
    margin: 0 10px ;
    display: flex;
   
  }
  .container .container2{
    margin: 0 10px ;
    
  }
  .container .container3 h6{
    margin: 10px 16px;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    color: #1c1c1c80;
    float: left;
  }
  .container3 .model_name p {
    font-weight: normal;
    font-size: 22px;
    margin-right: 25px;
    margin: 3px 0;
    float: left;
    position: absolute;
    right: 30px;
}